# --- Java ---
*.class
*.log
*.ctxt

# --- Maven ---
target/
dependency-reduced-pom.xml
release.properties
buildNumber.properties
.mvn/timing.properties

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
out/

# --- VS Code ---
.vscode/

# --- Eclipse ---
.project
.classpath
.settings/
bin/

# --- OS ---
.DS_Store
Thumbs.db

# --- Environnement ---
.env
lib/